.imp
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin-top: 100px;
    padding: 30px;
    transition: 1s;
    color: #7230c9;
}
.imp span
{
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% { opacity: 0;}
    50% {opacity: 1;}
    100% { opacity: 0;}
  }
.whisper
{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    transition: 1s;
    margin-bottom: 25%;
}
.flexbox
{
    display: flex;
    justify-content: space-around;
}
.flexbox div
{
    color:black;
    margin-top: 10px;
    padding: 20px;
    border-radius: 0.75cm;
    background-color:plum;
    font-family:'Montserrat', sans-serif; 
    font-weight: Bold;
    font-size: 18px; 
}
.sec
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    padding-bottom: 0px;
    color: #7230c9;
    transition: 1s;
    margin-bottom: 25px;
}
.skill
{
    font-family: 'Montserrat', sans-serif;
    font: bold;
    font-size: 20px;
    color:white;
    transition: 1s;
    margin-bottom: 75px;
    padding: 30px;
    padding-top: 0px;
}
.skill1
{
    font-family: 'Montserrat', sans-serif;
    font: bold;
    font-size: 20px;
    color: white;
    padding: 25px;
}
.course
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-left: 10px;
}
.whisper1
{
    color: coral;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin-left: 10px;
}
.institute
{
    color: plum;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
}
body
{
    background-color:black;
}
.flexbox a
{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 767px) {
    {
        text-align: center;
    }
}